@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* rgb(255, 255, 255) */

body{
  background-color: #F9F2F9; 
}

a {
  text-decoration: none;
  color: rgb(119, 0, 255);
}

#login {
  min-height: 100vh;
}

.h-100 {
  min-height: 100vh;
}

form {
  width: 90%;
  max-width: 400px;
  padding: 25px 25px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.cadastro {
  max-width: 500px;
}

input, textarea, select, option {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 15px 0px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 1rem;
  padding: 0px 15px;
}


input:focus, textarea:focus {
  box-shadow: 0px 0px 3px 1px rgb(173, 228, 224);;
}

.input-pesquisa{
  width: 80%;
  height: 45%;
}

textarea {
  height: 150px;
  resize: none;
}

button {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
  background: rgb(53, 184, 175);
  cursor: pointer;
  margin: 15px 0px;
}

.add-button{
  display: flex;
  align-items: center;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  height: 55%;
  transition: 0.2s;
}

.add-button:hover{
  opacity: 0.9;
  /* box-shadow: 6px 7px 6px rgba(0, 0, 0, 0.25), */
}

.add-text{
  margin-left: 12px;
  font-weight: bold;
  text-align: center;
}

#task-list .container{
  margin-top: 70px;
  margin-bottom: 70px;
}

.w-auto {
  width: auto;
  padding: 10px;
}
.title-task-container{
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(8, 8, 8, 0.09);
}

.tasks {
  width: 100%;
  overflow: auto;
  max-height: 700px;
  border-bottom: 1px solid rgba(8, 8, 8, 0.09);
}

.task {
  width: 100%;
  height: 50px;
  background: rgb(255, 255, 255);
  box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.25), inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  border-radius: 7px;
  margin: 20px 0px;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.task:hover{
  box-shadow: 4px 6px 4px 5px rgba(0, 0, 0, 0.25), inset 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.task-modify{
  height: 80%;
  width:7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-delete{
  width: 49%;
  height: 100%;
  border-radius: 50%;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-delete:hover{
  background-color: #a7a7a7;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.task-edit{
  width: 49%;
  height: 100%;
  border-radius: 50%;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-edit:hover{
  background-color: #a7a7a7;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.profile-signout{
  height: 68%;
  width: 18%;
  border-radius: 50%;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-signout:hover{
  background-color: #a7a7a7;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.task-status{
  height: 80%;
  width: 10%;
  background-color: rgb(121, 115, 115);
  color: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

.task-nome{
  font-size: 18px;
  font-weight: bold;
}

.row.task-list{
  margin-top:50px;
}

.row.task-list .title{
  margin-bottom: 15px;
}

.fundo {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  width: 90%;
  max-width: 500px;
  background: #fff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.description {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.divider {
  width: 95%;
  margin: 10px auto;
  height: 1px;
  background: #ddd;
}

.m-30 {
  margin: 30px 0px;
}

.details {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.header-page{
  height: 60px;
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo img{
  height: 100%;

}

.header-page .header-profile{
  width: 20%;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-page .header-profile .nome-profile{
  font-size: 21px;
  font-weight: bold;
}

.header-page .header-profile img{
  width: 19%;
  height: 85%;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgb(53, 184, 175); 
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}

.slider {
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0%;
  top: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 30px;
  background-color: #fff;
  animation: showModal .2s ease;
  animation-play-state: paused;
}

.showModal {
  animation-play-state: running;
}

@keyframes showModal {
  0% { 
    right: -50%;
  }

  100% {
    right: 0%;
  }
}

.tasks {
  overflow-x: hidden;
}